@model WebShop.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Employees</h2>
    <a href="/Home/Index">Back</a>
    <div>Id: @Model.Id</div>
    <div>Name: @Model.FirstName</div>
    <div>Surname: @Model.Surname</div>
    <div>Patronymic: @Model.Patronymic</div>
    <div>Age: @Model.Age</div>
    <div>BirthDay: @Model.BirthDay.ToShortDateString()</div>
</body>
</html>